// screens
$mini: 480px;
$min-mobile: 360px;
$mobile: 768px;
$md: 1024px;
$lg: 1366px;

// fonts
$regular: 400;

$font-size: 12px;
$font-family: 'Roboto', sans-serif;

// colors
$light: #ffffff;
$black: #000000;
$silver: #cccccc;
$white: #FFFFFF;

$gray-black-alto: #7e7e7e;
$gray-alto: #D4D4D4;
$black-text: #1e4661;
$aqua-spring: #eaf5f9;
$grey-org: #f4f4f4;
$grey-org-border: #d7d7d7;
$gray-mine-shaft: #212121;
$gray-cod: #1A1A1A;
$gray-mine: #303030;
$gray-tundora: #424242;
$gray-dove-dark: #616161;
$gray-dove: #666666;
$gray-gull: #9daeb6;
$gray-boulder: #757575;
$gray-quartz: #9595918c;
$gray-dusty: #959595;
$gray-dusty-light: #999999;
$gray-silver: #bdbdbd;
$gray-silver-chalice: #9E9E9E;
$gray-silver-dark: #c7c7c7;
$gray-alabaster: #fafafa;
$gray-gallery: #eeeeee;
$gray-wild: #f5f5f5;
$gray-concrete: #F2F2F2;
$gray-mercury: #e8e8e8;
$gray-horizon: #57809b;
$gray-gallery-background: #f0f0f0;
$gray-scorpion: #606060;
$gray-input: #9C9C9C;
$gray-input-placeholder: #bdbdbd;

$red-flamingo: #f44d41;
$red-pomegranate: #F44336;
$red-error: #f312022b;
$red-contessa: #C86B6B;
$pink-error: #fff6f6;
$pink-border: #e0b4b4;
$red-punch: #DC3C31;
$brown-fuzzy: #C34A4A;

$blue-shakespeare: #33A0CC;
$blue-viking: #60B8DC;
$blue-seagull: #8AD1F0;
$blue-mabel: #D7F3FF;
$blue-dodger: #2684ff6b;

$hint-of-green: #E5FFE5;
$green-sushi: #8BC34A;
$green-sushi-dark: #76A53E;
$green-vida-loca: #5E991A;

$barley-white: #FFF4CA;
$certificationHeader: #333333;
$certificationRow: #f9f9f9;
$btnColor: #999999;
$certificationColorText: #666666;



