.loader-full-size {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: unset;
  z-index: 1;
  margin: 0 !important;

  .dimmer {
    background-color: unset !important;
  }
}
