Today's unwatched notifications!

<div>
    <ul>
        {{#each notification}}
        <li>{{this.heading}}</li>
        <li>{{this.message}}</li>
        <li>//</li>
        {{/each}}
    </ul>
</div>
